/.vs
/BusinessProcessor/obj
/DataGenerator/obj
/LogAggregator/src/LogAggregator/obj
/ResourceAutomation/src/ResourceAutomation/obj
/ResourceAutomationTests/obj
/ResourceAutomationTests/bin/Debug/net9.0
